<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a> (nothing there yet)</li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		
    <div class="container">

    {{ content }}
    
    </div><!-- end of container class -->
    
		<footer>
    		<ul>
        		<li><a href="mailto:berndbausch@yahoo.co.jp">Email</a></li>
        		<li><a href="https://github.com/berndbausch">Github</a></li>
			</ul>
		</footer>
	</body>
</html>
